.fix{
    width: 100%;
    height: 60px;
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.body
{
    margin: 0;
}

.outer-box
{
    margin-top: 60px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --primary: #00303f;
    --secondary : #d7e3e7;
    --shadow : #92bac6; 
}

html,body{
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
}


.outer-box
{
    padding: 5px;
    display: grid;
    gap: 5px;
    grid-template-columns: 250px auto;
    height: 100%;

    grid-auto-flow: column;
}

.inner-box{
    background-color: var(--primary);
    border-radius: 5px;
}

.slider
{
    height: 100%;
    display: flex;
    flex-direction: column;

}

.slider div{
    flex-basis: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider a{
    color: white;
    font-size: 1.3rem;
    padding: 15px 10px;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider a:hover{
    color: var(--shadow);
    border-radius: 50px;
    background-color: white;
    transform: scale(1.1);
}

.box2{
    height: 80%;
    width: 100%;
    margin: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap:10px;

}

.menu{
    display: none;
}
.close{
    display: none;
}


.in2
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    height: 250px;
    width: 250px;
    background-color: var(--shadow);
    border-radius: 5px;
}


@media (max-width : 850px) and (min-width:530px)
{
    .box2{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: auto;
        gap: 10px;
    }

    /* .in2{
        padding-top: 10px;
        padding-bottom: 10px;
    } */
    .menu{
        display: none;
    }
    .close{
        display: none;
    }
}

@media (max-width:530px)
{
    .box1
    {
        display: none;
    }

    .outer-box
    {
        display: grid;
        grid-template-columns: auto;
        height: 100%;
        grid-auto-flow: column;
        /* display: block;
        width: 100%; */
    }

    .box2{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: auto;
        gap: 10px;
    }

    .menu{
        display: block;
    }
}
 

